
# Don't upload data files


*.xlsx
*.xls
*.csv
*.dta

*LAD_DEC_2023*
*LAD_MAY_2023*

*.pdf
!example_segplots.pdf
*.csv
*.dta
*.xlsx
*.xls
*.DOC
*.DOCX
*.doc
*.docx
*.zip
*.cpg
*.dbf
*.prj
*.shp
*.shp.xml
*.shx
*.DS_Store

segDataPrep/misc/

.Rhistory

renv/
.Rproj.user
*.Rproj