
# Don't upload data files
*.xlsx
*.xls
*.csv
*.dta

*LAD_DEC_2023*
*LAD_MAY_2023*


*.csv
*.dta
*.pdf
*.xlsx
*.xls
*.DOC
*.DOCX
*.doc
*.docx
*.zip
*.cpg
*.dbf
*.prj
*.shp
*.shp.xml
*.shx
*.DS_Store

segDataPrep/misc/
segDataPrep/outputs/


renv/
.Rproj.user
*.Rproj