
.leaflet-left{
    display: none;
}

/* .leaflet-control-attribution{
    z-index: -1;
    margin-top: 20px;
    position:relative;
    color: black;
    background-color: black;
} */

.leaflet-control{
    font-size: 10px;
}

/* Remove the focus outline box from selected polygons */
.leaflet-interactive:focus {
  outline: none;
}

/* Or alternatively, if the above doesn't work */
.leaflet-container svg path:focus {
  outline: none;
}